.theme-btn,
.add_owner {
    padding: 12px 24px;
    border-radius: 5px;
    border: 0;
    background: var(--primary);
    color: var(--white);
    transition: 0.5s ease;
}

.theme-btn:hover,
.add_owner:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
    color: var(--white);
}

.form-check {
    padding-left: 0;
}

/******-----------*****/
.lh-24 {
    line-height: 24px;
}

ul.steps-progress {
    display: flex;
    gap: 77px;
    justify-content: center;
}

.steps-progress li>span {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid #d1d5db;
    background: white;
}

.steps-progress span.completed {
    background: #0275df !important;
    border: 0 !important;
}

.steps-progress span::after {
    content: "";
    display: flex;
    width: 80px;
    height: 3px;
    position: absolute;
    left: 27px;
    background: #d1d5db;
}

.steps-progress span.completed:after {
    background: #0275df;
}

.steps-progress li:last-child span:after {
    content: none;
}

.steps-progress span.completed::before {
    content: "\f00c";
    font-family: "Font Awesome 6 Pro";
    color: white;
}

.step-form .bgform {
    position: relative;
}

.step-form .form-wrapper .form-check {
    padding: 0;
    margin-bottom: 15px;
}

.step-form .form-wrapper .form-group {
    margin-bottom: 6px;
    margin-top: 16px;
}

.step-form .form-wrapper .form-group label {
    line-height: normal;
    font-size: 16px;
    margin-bottom: 0.5rem;
    font-size: 14px;
}

.step-form .form-wrapper p.does {
    font-size: 12px;
    color: #747c8c;
    font-weight: 500;
}

.form-title.packagebtn {
    position: relative;
}

.form-title.packagebtn input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.form-title.packagebtn a:hover {
    background: #ff8600;
}

.form-title.packagebtn input:checked+label a {
    background: #ff8600;
}

.step-form .form-wrapper p.does i {
    color: #ff8600;
    font-size: 16px;
    margin-left: 5px;
}

.step-form .form-wrapper p.continue {
    font-size: 12px;
    color: #747c8c;
    font-weight: 500;
    display: block;
    margin: 0;
}

.step-form .form-wrapper p.continue a {
    font-size: 12px;
    color: #747c8c;
    font-weight: 600;
}

.step-form .form-wrapper button.btn.btn-orange {
    margin-top: 20px;
    color: #fff;
}

table.pricing {
    margin: 0 0 30px;
}

.tp-check-pricing {
    width: 24px;
    height: 23px;
}

table.pricing tr td:first-child {
    width: 34.3%;
    font-size: 16px;
    line-height: 26px;
    color: var(--dark);
    text-align: left;
}

.bgform h3 {
    font-size: 24px;
    margin-bottom: 16px;
    line-height: 28px;
}

.btn-normal {
    background: #0085ff;
    padding: 10px 30px;
    display: inline-block;
    margin: 10px 0 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: inherit;
}

.add_owner {
    background: var(--primary);
    padding: 14px 30px;
    display: inline-block;
    margin: 10px 0 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: inherit;
}

.trash_this {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.trash_this i {
    background: var(--primary);
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.tp-check-pricing {
    display: inline-block;
    width: 21px;
    height: 21px;
    background: #0275df url("../../assets/images/check-pricing.webp") no-repeat center;
    border-radius: 100%;
}

.tp-check-pricing.orange {
    background-color: #65cfa9;
}

.tp-check-pricing.blue {
    background-color: #6db6e4;
}

table.pricing tr td {
    border: 1px solid #e6e4e4;
    padding: 10px 15px;
    text-align: center;
    vertical-align: middle;
}

.row.pkg-box .col-md-8 .col-md-4:nth-child(2) a,
.row.pkg-box .col-md-8 .col-md-6:nth-child(2) a {
    background: #65cfa9;
}

.row.pkg-box .col-md-8 .col-md-4:nth-child(3) a {
    background: #6db6e4;
}

.row.pkg-box .col-md-8 .col-md-4 a,
.row.pkg-box .col-md-8 .col-md-6 a {
    background: #344454;
    padding: 12px 30px;
    display: inline-block;
    margin: 10px 0 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: inherit;
    text-transform: capitalize;
}

.row.pkg-box .col-md-8 .col-md-4 {
    text-align: center;
}

.row.pkg-box .col-md-4 {
    text-align: left;
}

.row.pkg-box .col-md-4 i img {
    margin: 0 auto;
    float: left;
}

.pkg-selected-actv strong {
    display: block;
    margin-top: 28px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0px;
    color: #65cfa9;
    font-weight: bold;
}

.pkg-selected-actv strong {
    display: block;
    margin-top: 28px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0px;
    color: #65cfa9;
    font-weight: bold;
    margin-bottom: 70px;
}

.expedited-box {
    border: 1px solid #f04e23;
    text-align: left;
    padding: 55px 30px 50px 65px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.expedited-box h6 {
    color: #f04e23 !important;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.expedited-box h6 img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.expedited-info {
    background: #f04e23;
    padding: 5px;
    text-align: center;
    width: 186px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    top: 14px;
    transform: rotate(-30deg);
    left: -46px;
    font-weight: 700;
}

.ov_box strong {
    font-size: 19px;
    color: #4b5a6a;
    font-weight: 700;
}

.ov_box ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: disc;
    padding-left: 1rem;
    line-height: 25px;
}

.ov_box a {
    color: #047bff;
    font-weight: 600;
}

.ov_box {
    overflow-y: scroll;
    height: 300px;
    border: 1px solid rgb(223, 225, 226);
    margin-bottom: 20px;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inner-content {
    padding: 30px;
}

.form-tooltip-body h6 {
    margin-bottom: 5px;
    margin-top: 15px;
    color: #000;
}

.form-tooltip {
    /* margin-left: 10px; */
    cursor: pointer;
    position: relative;
    color: #0085ff;
    /* font-size: 12px; */
    /* font-weight: 400; */
}

.form-tooltip>span {
    color: #fff;
    width: 18px;
    height: 18px;
    background-image: linear-gradient(to bottom, #0085ff, #ff7854);
    border-radius: 50%;
    font-size: 11px;
    display: inline-block;
    text-align: center;
    line-height: 19px;
    vertical-align: baseline;
    display: none;
}

.form-tooltip-body {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #ffffff;
    padding: 12px;
    width: 400px;
    max-height: 700px;
    overflow: auto;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
        0 3px 14px 2px rgb(0 0 0 / 12%);
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    z-index: 2;
    cursor: default;
    border-radius: 6px;
    color: #212121;
}

.form-tooltip-body p {
    font-size: 14px;
    margin-bottom: 0 !important;
}

ul.trademarksearch-option {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.trademarksearch-option li {
    width: 99%;
    display: flex;
    background: #9d9d9d14;
    padding: 20px 20px 20px 20px;
    /*min-height: 150px;*/
    align-items: center;
    margin: 4px 2px;
    line-height: 1.5em;
    font-size: 15px;
    text-align: left;
}

ul.trademarksearch-option li input {
    margin-right: 11px;
    width: 50px;
    flex-shrink: 0;
}

.form-tooltip:hover .form-tooltip-body {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.form-group input[type="file"] {
    border: 1px solid #d9d9d9;
    width: 100%;
    padding: 7px;
    background: #f04e2314;
    margin: 10px 0 15px;
}

/* .form_group > div strong {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  display: inline-block;
} */
.m-t-20 {
    margin-top: 20px;
}

h1.checkout-title {
    padding: 0 15px;
    line-height: 60px;
    font-size: 25px;
    font-weight: 400;
    text-shadow: 0 1px rgb(255 255 255 / 70%);
    background: #eceff5;
    border-bottom: 1px solid #c5ccdb;
    border-radius: 7px 7px 0 0;
    background-image: -webkit-linear-gradient(top, #f5f8fb, #e9edf3);
    background-image: -moz-linear-gradient(top, #f5f8fb, #e9edf3);
    background-image: -o-linear-gradient(top, #f5f8fb, #e9edf3);
    background-image: linear-gradient(to bottom, #f5f8fb, #e9edf3);
    -webkit-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
    margin: 0;
    font-weight: bold;
}

.checkout-body {
    padding: 20px;
    background: #eceff559;
}

.checkout-body input {
    background: #fff;
    padding: 10px;
    width: 100%;
    border: 1px solid #c5ccdb;
    border-radius: 5px;
    height: 48px;
}

input.small {
    width: 32.6%;
}

.col-md-6.pd-left-0 {
    padding-left: 0;
}

p.paywith {
    text-align: center;
}

input.verify-pkg-btn.checkout-btn {
    box-sizing: border-box !important;
    height: 44px !important;
    padding: 0 !important;
    font-weight: 700 !important;
    color: #fff !important;
    text-align: center !important;
    text-shadow: 0 -1px 1px rgb(0 0 0 / 20%) !important;
    border: 1px solid !important;
    border-color: #1486f9 #0f7de9 #0d6acf !important;
    background: #1993fb !important;
    border-radius: 4px !important;
    background-image: -webkit-linear-gradient(top,
            #4cb1fe,
            #229afc 40%,
            #138df6) !important;
    background-image: -moz-linear-gradient(top,
            #4cb1fe,
            #229afc 40%,
            #138df6) !important;
    background-image: -o-linear-gradient(top,
            #4cb1fe,
            #229afc 40%,
            #138df6) !important;
    background-image: linear-gradient(to bottom,
            #4cb1fe,
            #229afc 40%,
            #138df6) !important;
    -webkit-box-shadow: inset 0 1px rgb(255 255 255 / 20%),
        0 1px 2px rgb(0 0 0 / 20%) !important;
    box-shadow: inset 0 1px rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 20%) !important;
    cursor: pointer;
}

.checkout-body p {
    margin-bottom: 18px;
}

.form_wrap {
    box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
    padding: 1.5rem;
    border-radius: 10px;
}

/* .form_wrap b,
.form_wrap strong {
  font-weight: bolder !important;
} */

.bgform h3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-heading {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 1rem;
}

.bgform h3 span {
    font-size: 16px;
    white-space: nowrap;
}

.bgform p {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 10px;
}

.form_wrap label {
    color: #6b7280;
    font-size: 14px !important;
    margin-bottom: 6px !important;
    line-height: 18px !important;
    font-weight: 400 !important;

    margin-top: 7px;
}

form#payment-form input[type="submit"] {
    text-align: center !important;
    justify-content: center !important;
}

small {
    line-height: 20px;
}

ul.trademarksearch-option {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/********form end********/

.register-pricing {
    overflow-x: auto;
}

.packge-box {
    padding: 25px;
    /* border: 1px solid #dbdbdb; */
    text-align: center;
    max-height: 620px;
    margin: 15px 0;
    overflow-y: unset !important;
    background: #fbfbfb;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.packge-box ul {
    overflow-y: scroll !important;
    max-height: 420px;
}

.packge-box>ul>li {
    text-align: left;
    font-size: 14px;
    line-height: 1.4em;
    margin-top: 10px;
    color: #747474;
    position: relative;
    padding-left: 21px;
    padding-top: 11px;
}

.packge-box>ul>li:before {
    width: 10px;
    height: 10px;
    display: block;
    content: "";
    background: #0f3b4f;
    border-radius: 20px;
    position: absolute;
    top: 15px;
    left: 0;
}

.form-title {
    line-height: 1.8em;
}

.packge-box h3.form-heading {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px !important;
    color: #0f3b4f;
    text-align: center;
    justify-content: center;
}

.packge-box>ul>li+li {
    border-top: 1px dashed #cdcdcd;
}

.packge-box a.btn-normal {
    letter-spacing: 0.5px;
    padding: 7px 20px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    transition: 0.5s ease;
    box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    background: #060c3a;
    margin: 25px 0 10px 0;
}

.packge-box a.btn-normal:hover {
    transform: scale(1.04);
}

/* changes */

.step-content h3 {
    font-size: 26px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.step-content h3 span {
    color: var(--primary);
}

.step-content a {
    font-size: 20px;
    font-weight: 600;
    color: #19b200;
    margin-bottom: 30px;
}

.form-group.ind_own_fld {
    margin: 10px 0px;
}

.secondary-hd {
    font-size: 20px !important;
}

.brief-process-box {
    border: 1px solid #e9ebf4;
    border-radius: 16px;
    padding: 25px 15px 21px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;
}

.brief-process-box h6 {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary);
}

.brief-process-box p {
    margin: 0;
}

.brief-process-box p span {
    background-color: #20e70029;
    border-radius: 16px;
    color: var(--primary);
    padding: 4px 11px;
    font-weight: 700;
}

.brief-process-box>span {
    background-color: #e0ffda;
    border-radius: 16px;
    color: var(--primary);
    padding: 4px 11px;
    position: absolute;
    top: -14px;
}

.brief-process-box-check {
    border: 1px solid #dadde5;
    border-radius: 16px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.brief-process-box-check input {
    margin-right: 5px;
    cursor: pointer;
}

.brief-process-box-check label {
    font-size: 18px !important;
    margin: 0 !important;
    cursor: pointer;
}

.step-table {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.step-table tr {
    border-top: 1px solid rgb(219, 233, 241);
}

.step-table tr:last-child {
    border-bottom: 1px solid rgb(219, 233, 241);
}

.step-table td {
    padding: 15px 5px;
}

.table-btn {
    padding: 5px;
    font-weight: 600;
    color: red;
    background-color: transparent;
    border: none;
}

.mycustom-cont h4 {
    color: red;
    font-weight: 600;
    font-size: 30px;
}

.mycustom-cont p {
    font-size: 14px;
}

.popup-trademarksearch-option {
    grid-template-columns: repeat(1, 1fr) !important;
}

#editor3 ul.trademarksearch-option li {
    flex-wrap: wrap;
    min-height: auto;
    text-align: left;
}

#editor3 ul.trademarksearch-option li p {
    width: 100%;
    margin: 0;
}

#editor3 ul.trademarksearch-option li label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

#editor3 ul.trademarksearch-option li label span {
    color: var(--primary);
}

#editor3 ul.trademarksearch-option li input {
    width: auto;
}

#editor4 ul.trademarksearch-option li {
    min-height: auto;
}

@media only screen and (max-width: 1920px) {}

@media only screen and (max-width: 1599px) {}

@media only screen and (max-width: 1444px) {}

@media only screen and (max-width: 1399px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 575px) {}

@media only screen and (max-width: 375px) {
    ul.steps-progress {
        gap: 27px !important;
    }

    .steps-progress span::after {
        width: 50px !important;
    }

    .submits-wrapper {
        display: block !important;
    }

    .steps-section ul.trademarksearch-option li {
        width: 100% !important;
        padding: 10px 10px 10px 0px !important;
        margin: 7px 0 !important;
    }

    img.restrictIcon {
        display: none !important;
    }

    .steps-section ul.trademarksearch-option li input {
        margin-right: 0 !important;
    }

    .steps-section ul.trademarksearch-option li {
        width: 100%;
    }

    .form_wrap {
        padding: 8px !important;
    }

    .steps-section {
        padding-top: 20px !important;
    }

    .heading {
        font-size: 13px !important;
    }

    .form-check {
        padding: 0 0px 0 0px !important;
    }

    .inner-content {
        padding: 7px !important;
    }

    .packge-box ul {
        padding: 0 !important;
    }

    .expedited-box {
        padding: 65px 10px 20px 15px !important;
    }

    .mycustom-cont h6 {
        font-size: 27px;
    }

    .mycustom-cont ul {
        padding: 0;
    }

    .mycustom-cont a {
        padding: 7px 30px;
    }

    .order-details-box ul {
        margin: 20px 0px 40px !important;
    }

    .risk-free {
        margin: 0px 0px 0px 9px !important;
        padding: 0 12px;
    }

    .row.pkg-box p {
        font-size: 21px !important;
        line-height: 23px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    ul.trademarksearch-option {
        grid-template-columns: repeat(1, 1fr);
    }

    .steps-progress span::after {
        width: 40px;
    }

    ul.trademarksearch-option li {
        width: 100%;
    }

    .form-tooltip-body {
        left: unset;
        top: unset;
        bottom: 0;
        width: 220px;
    }

    .form-group.org_own_fld {
        margin: 10px 0;
    }

    .form-group.ind_own_fld {
        margin: 10px 0px;
    }

    .brief-process-box {
        margin: 15px 0;
    }

    .form-tooltip-body {
        width: 250px;
        height: 300px;
    }
}

/* Payment Card Start */
.payment-card {
    padding: 15px;
    padding-top: 0;
    background: #f3f6fa;
    border: 1px solid;
    border-color: #c2cadb #bbc5d6 #b7c0cd;
    border-radius: 7px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
}

.error-message {
    color: #d00;
    padding: 6px 5px 0;
}

h1.checkout-title {
    margin-bottom: 19px;
}

.payment-card input {
    float: left;
    padding: 0 10px;
    height: 40px;
    color: #525864 !important;
    background: #fff !important;
    border: 1px solid !important;
    border-color: #b3c0e2 #bcc5e2 #c0ccea !important;
    border-radius: 4px !important;
    background-image: -webkit-linear-gradient(top, #f6f8fa, white) !important;
    background-image: -moz-linear-gradient(top, #f6f8fa, white) !important;
    background-image: -o-linear-gradient(top, #f6f8fa, white) !important;
    background-image: linear-gradient(to bottom, #f6f8fa, white) !important;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5) !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5) !important;
    margin-bottom: 10px;
}

.payment-card .checkout-btn {
    width: 100% !important;
    box-sizing: border-box !important;
    height: 44px !important;
    padding: 0 !important;
    font-weight: 700 !important;
    color: #fff !important;
    text-align: center !important;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2) !important;
    border: 1px solid !important;
    border-color: #1486f9 #0f7de9 #0d6acf !important;
    background: #1993fb !important;
    border-radius: 4px !important;
    background-image: -webkit-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6) !important;
    background-image: -moz-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6) !important;
    background-image: -o-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6) !important;
    background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6) !important;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    cursor: pointer;
    border-color: #5469d4 !important;
    background: #5469d4 !important;
}

/* Payment Card End */